<!DOCTYPE html>
<html>
  <head>
  <title> Sentence Creator </title>
  <link type="text/css" href="style.css" rel="stylesheet" />
  </head>
  <body>
  <div id=sentence>
    <p><%= @sbj %> <%= @obj %> <%= @pred %> .</p>
  </div>
  </body>
</html>
