<!DOCTYPE html>
<html>
  <head>
  <title> Sentence Creator </title>
  <link type="text/css" href="css/create.css" rel="stylesheet" media="screen"/>
    </head>
  <body>
  <div id=sentence>
    <p>
      <span class=word id=sbj><%= @sbj %></span>
      <span class=word id=obj><%= @obj %></span>
      <span class=word id=pred><%= @pred %></span>
      .
    </p>
  </div>
  </body>
</html>
